
.col1 {

	float: left;
	width: 50%;
	
}



.col2 {

	float: left;
	width: 50%;
	
}

.col3 {

	float: right;
	width: 50%;
	margin-top: 300px;
	

	
}

.col4 {

	float: left;
	width: 75%;
margin-right: 900px;
vertical-align: top;
}